.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 3rem 0 3rem;
  justify-content: center;
  align-items: center;
}

.cart-item {
  flex: 0 0 20%;
  box-sizing: border-box;
  padding: 10px;
}

.header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}

.chart {
  margin: 0 3rem;
}

.addCartButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-cart);
  color: var(--color-special);
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.addCartButton img {
  width: 25px;
  height: 25px;
}

@media (max-width: 768px) {
  .container {
    margin: 0;
  }
  .cart-item {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 10px;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 16px;
    margin: 0;
  }

  h2 {
    font-size: 15px;
  }

  .cart-item {
    flex: 0 0 100%;
    padding: 5px;
  }
}
