* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  font-family: "Montserrat", sans-serif;
}

.gradient__bg {
  background: -moz-radial-gradient(circle at 3% 35%, #d5f134 0%, #103c12 25%);

  background: -webkit-radial-gradient(
    circle at 3% 35%,
    #d5f134 0%,
    #103c12 25%
  );

  background: -o-radial-gradient(circle at 3% 35%, #d5f134 0%, #103c12 25%);

  background: -ms-radial-gradient(circle at 3% 35%, #d5f134 0%, #103c12 25%);

  background: radial-gradient(circle at 3% 35%, #d5f134 0%, #103c12 25%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.loader {
  border: 8px solid var(--color-border);
  border-top: 8px solid var(--color-cart);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .gradient__text {
    letter-spacing: 1px;
  }
}
