* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  font-family: "Montserrat", sans-serif;
}

.gradient__bg {
  background: -moz-radial-gradient(circle at 3% 35%, #d5f134 0%, #103c12 25%);

  background: -webkit-radial-gradient(
    circle at 3% 35%,
    #d5f134 0%,
    #103c12 25%
  );

  background: -o-radial-gradient(circle at 3% 35%, #d5f134 0%, #103c12 25%);

  background: -ms-radial-gradient(circle at 3% 35%, #d5f134 0%, #103c12 25%);

  background: radial-gradient(circle at 3% 35%, #d5f134 0%, #103c12 25%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
